<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YoderZone.Extensions.OptionsPackage.RemarkerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YoderZone.Extensions.OptionsPackage.Resharper" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YoderZone.Extensions.OptionsPackage.RemarkerSettings>
            <setting name="FontFamily" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="GiantFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HugeFactor" serializeAs="String">
                <value>1.6667</value>
            </setting>
            <setting name="LargeFactor" serializeAs="String">
                <value>1.3333</value>
            </setting>
            <setting name="SmallFactor" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="TinyFactor" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="MicroFactor" serializeAs="String">
                <value>0.55</value>
            </setting>
            <setting name="Task01" serializeAs="String">
                <value>Todo</value>
            </setting>
            <setting name="Task02" serializeAs="String">
                <value>Hack</value>
            </setting>
            <setting name="Task03" serializeAs="String">
                <value>Question</value>
            </setting>
            <setting name="Task04" serializeAs="String">
                <value>Bug</value>
            </setting>
            <setting name="Task05" serializeAs="String">
                <value>Note</value>
            </setting>
            <setting name="Task06" serializeAs="String">
                <value />
            </setting>
            <setting name="Task07" serializeAs="String">
                <value />
            </setting>
            <setting name="Task08" serializeAs="String">
                <value />
            </setting>
            <setting name="Task09" serializeAs="String">
                <value />
            </setting>
            <setting name="Task10" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskBold01" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskBold02" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskBold03" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskBold04" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskBold05" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskBold06" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskBold07" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskBold08" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskBold09" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskBold10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskColor01" serializeAs="String">
                <value>0000ff</value>
            </setting>
            <setting name="TaskColor02" serializeAs="String">
                <value>008000</value>
            </setting>
            <setting name="TaskColor03" serializeAs="String">
                <value>ff00d6</value>
            </setting>
            <setting name="TaskColor04" serializeAs="String">
                <value>ff0000</value>
            </setting>
            <setting name="TaskColor05" serializeAs="String">
                <value>8b0807</value>
            </setting>
            <setting name="TaskColor06" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="TaskColor07" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="TaskColor08" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="TaskColor09" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="TaskColor10" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="TaskTypeface01" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="TaskTypeface02" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="TaskTypeface03" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="TaskTypeface04" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="TaskTypeface05" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="TaskTypeface06" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="TaskTypeface07" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="TaskTypeface08" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="TaskTypeface09" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="TaskTypeface10" serializeAs="String">
                <value>Verdana</value>
            </setting>
        </YoderZone.Extensions.OptionsPackage.RemarkerSettings>
        <YoderZone.Extensions.OptionsPackage.Resharper>
            <setting name="FontFamily" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="GiantFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HugeFactor" serializeAs="String">
                <value>1.6667</value>
            </setting>
            <setting name="LargeFactor" serializeAs="String">
                <value>1.3333</value>
            </setting>
            <setting name="SmallFactor" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="TinyFactor" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="MicroFactor" serializeAs="String">
                <value>0.55</value>
            </setting>
        </YoderZone.Extensions.OptionsPackage.Resharper>
    </userSettings>
</configuration>